$colorBlue: rgb(30,57,83);
$colorGreen: rgb(147,200,63);
$mainFont: 'Dosis', sans-serif;
$mainWidth:1200px;


@import "lib/common";
@import "lib/topbar";
@import "lib/navbar";
@import "lib/slider";


